* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.text1 {
    font-size: 55px;
    width: 365px;
    height: 93px;
    margin-top: 20px;
    margin-left: 150px;
    /* margin-bottom: 15px; */
}

.text2 {
    display: flex;
    gap: 200px;
    justify-content: space-evenly;

}

.lorem {
    width: 400px;
    height: 374;
    margin-top: 40px;
}

.img {
    width: 314px;
    height: 374px;

}

.mane {
    padding: 60px;
   
}

.down {
    display: flex;
    justify-content: space-evenly;
    width: 1200px;
    margin-top: 30px;
    align-items: center;
}

.img2 {
    margin-bottom: 60px;
    height: 40px;
    padding-bottom: 60px;


    
}
.last{
    display: flex;
    gap: 80px;
}






@media screen and (max-width: 650px) {
 .img2{
    display: none;
    .down{
        width: 300px;
         justify-content:flex-start;
       align-items: flex-start;
       
        
    }
    .lorem{
        width: 200px;
    }
 }
 
 }
 @media screen and (max-width: 375px){
    .mane{
        flex-direction: column;
    }
    .img2{
        display: none;
    }
    .text2{
        flex-direction: column;
    }

    .down{
        flex-direction: column;
        align-items: start;
    }

 }
 
    
 




    
    
